<!-- estrutura do componente footer -->

<!-- usando o toolbar do material -->
<mat-toolbar class="footer">

    <!-- inserindo a mensage do rodapé -->
    <span>
        Desenvolvido com
        <!-- aplicando a diretiva appRed para alterar a cor do ícone para vermelho -->
        <!-- aplicando a diretiva myFor renderizar 3 ícones de coração de acordo com os tipos informados -->
        <i class="material-icons v-middle" appRed *myFor="let i em ['favorite', 'favorite_border', 'favorite']">
            {{ i }}
        </i>
        por <strong>Cod<span class="red">3</span>r</strong>
    </span>
</mat-toolbar>